
gevent==1.1.0
gipc==0.4.0
CodernityDB
leveldb
lmdb
click
decorator
wheel
pyyaml
werkzeug
ipython>=5.4.0,<6.0.0
statistics
requests
rlp>=0.6.0,<0.7.0
devp2p>=0.9.3
ethereum>=2.0.4
pbkdf2
scrypt
pexpect
pyelliptic==1.5.7
tinyrpc[gevent,httpclient,jsonext,websocket,wsgi]
